TZ=Asia/Shanghai
MW_LANG=zh-cn

PUBLIC_HOST=lab.example.com
PRIVATE_HOST=wiki.lab.internal
CADDY_EMAIL=admin@example.com

PUBLIC_SITE_NAME=Lab Public Wiki
PRIVATE_SITE_NAME=Lab Internal Wiki

PUBLIC_ADMIN_USER=admin
PRIVATE_ADMIN_USER=admin
