.env
.DS_Store

secrets/*.txt
backups/*
!backups/.gitkeep

state/**/LocalSettings.php
uploads/*
!uploads/public/
!uploads/private/
uploads/public/*
!uploads/public/.gitkeep
uploads/private/*
!uploads/private/.gitkeep

docker-data/
